body {
    background-color: rgb(224, 224, 219);
}
.content {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: end;
}
.meme {
    margin:  0 auto;
    border-top: 2px solid rgb(188, 185, 185);
    height: ;
}
.content:hover {
    background-color: rgb(62, 54, 131);
}